*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: medium;
    font-weight: bold;
}

html{
    display: flex;
    justify-content: center;
    background-color: rgba(231, 225, 225, 0.589); 
    align-items: center;
}

.datepicker{
    display: flex;
    flex-direction: column;
    width: 260px;
    border: 3px solid black;
    margin: 300px;
    padding: 20px;
    border-radius: 15px;
}

input{
    position: relative;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    width: 210px;
}

.dateinput{
    position: relative;
    display: flex;
    justify-content: center;
}

img{
    width: 20px;
    margin: 3px;
    
}
button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: 0;
    border-radius: 3px;
}

button:hover{
    background-color: rgba(192, 185, 185, 0.616);
}

.tanggal p{
    display: flex;
    justify-content: space-between;

}

.datewrapper{
    background-color: white;
    padding: 10px;
    padding-top: 0;
    margin-top: 3px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tanggal{
    margin-bottom: 20px;
}

.isi{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.num{
    border: 0.1px solid black; 
}
.num:hover{
    background-color: rgba(128, 128, 128, 0.486);
    border-radius: 3px;
}
